.Pagination {
  position: relative;
  width: 100%;
  @include flex(inline-flex, center, center, row, wrap, 10px, 10px);
  margin-top: 50px;
  margin-bottom: 100px;

  .PaginateItem {
    cursor: pointer;
    padding: 7px 10px;
    user-select: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    min-height: 40px;
    min-width: 40px;
    color: rgb(150, 150, 150);
    background: linear-gradient(var(--card-bg-one), var(--card-bg-two));
    box-shadow: var(--card-shadow);
    border: 1px solid var(--card-border);
    transition: color 200ms ease, text-shadow 200ms ease;

    @include flex(flex, center, center);

    .pag_icons {
      font-size: 16px;
    }

    &.disabled {
      pointer-events: none;
      background: transparent;
      box-shadow: none;
      border: none;
    }

    &:not(.disabled) {
      &:hover {
        color: var(--color-text-base);
        text-shadow: 0 0 5px var(--color-text-base);
      }
      
      &.active {
        color: var(--card-title-hover);
        pointer-events: none;
        font-weight: bold;
      }
    }
  }
}